@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: green;
}

.container {
    min-width: auto;
    min-height: px;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid green;
    border-radius: 30px;
}

#list {
    border: 2px solid black;
    min-height: 300px;
}

#task-form {
    display: flex;
    align-items: center;
    justify-content: center
}

#task-form input {
    text-align: center;
    width: 20rem;
    margin-right: 5px;
    color: black;
    font-weight: 600;
}

#task-form button {
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
}

#task-input {
    padding: 5px;
    border-radius: 5px;
    color: green;
    border: 1px solid green;
    font-style: italic;
}

#tasks {
    flex-direction: column;
    max-width: 500px;
    margin-top: 10px;
    padding: 2px;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.task-item input[type='checkbox'] {
    flex-grow: 1;
    justify-self: flex-start;
    max-width: 10px;
}

.task-item label {
    margin: 0 2px;
    flex-grow: 2;
}

.task-item #removeButton {
    flex-grow: 1;
    max-width: 50px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
}

:checked + label {
    text-decoration: line-through;
    color: gray;
}

#list .backup {
    display: flex;
    justify-content: space-between;
}

.backup .savebtn, .loadbtn{
    width: 200px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
}